// This Source Code Form is subject to the terms of the Mozilla Public
// License, v2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/

// Prefer system fonts
// - https://meta.stackexchange.com/q/364048
// - https://markdotto.com/2018/02/07/github-system-fonts/
// - https://infinnie.github.io/blog/2017/systemui.html

// Keep in sync with fonts.ts

@mixin ff-sans-serif {
  font-family:
    // Apple
    -apple-system, BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Ubuntu
    "Ubuntu",
    // Chrome OS and Android
    "Roboto",
    // Fallback
    sans-serif;
}
@mixin ff-monospace {
  font-family:
    // Apple
    "SFMono-Regular",
    // Windows
    "Cascadia Mono",
    "Segoe UI Mono", "Consolas",
    // Ubuntu
    "Ubuntu Mono",
    // Chrome OS and Android
    "Roboto Mono",
    // Fallback
    monospace;
}
