*.log
*.tsbuildinfo
.DS_Store
.webpack/
ci/apt/packages
dist/
node_modules/
storybook-screenshots/
storybook-static/
# for jest --coverage
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
.pnp.*

# Extensions
*.foxe
Default/
BrowserMetrics/
desktop/
Dictionaries/
GrShaderCache/
ShaderCache/
WidevineCdm/
Last Version
Local State
Consent To Send Stats
CrashpadMetrics-active.pma
First Run
chrome_shutdown_ms.txt
