/*
  We have some animations here and there. Disable them for screenshots.
  Per https://github.com/tsuyoshiwada/storybook-chrome-screenshot#disable-component-animation
*/
* {
  transition: none !important;
  animation: none !important;
  caret-color: transparent !important;
}
