@import "@foxglove/studio-base/styles/colors.module.scss";

.dropdown {
  .button {
    width: 100%;
  }
}

.container {
  font-family:
    // Apple
    -apple-system, BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Ubuntu
    "Ubuntu",
    // Chrome OS and Android
    "Roboto",
    // Fallback
    sans-serif;
  // Use fixed width numbers (important for numbers that update during playback)
  font-feature-settings: "tnum";

  .topicName {
    color: $text-bright;
    font-size: 16px;
    line-height: 16px * 1.25;
    word-wrap: break-word;
  }

  .datatype {
    padding-bottom: 20px;
  }
}
