@import "@foxglove-studio/app/styles/mixins.module.scss";
@import "@foxglove-studio/app/styles/colors.module.scss";

.dropdown {
  .button {
    width: 100%;
  }
}

.container {
  @include sans-serif;

  .topicName {
    @extend %modal-subtitle;
    word-wrap: break-word;
  }

  .datatype {
    padding-bottom: 20px;
  }
}
