name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    # Run each command in parallel with the same setup steps.
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
        config:
          # Specify names so that the GitHub branch protection settings for
          # required checks don't need to change if we ever change the commands used.
          - name: lint
            command: yarn run lint:ci
          - name: test
            command: yarn run test --maxWorkers=100%
          - name: storybook
            command: yarn workspace @foxglove-studio/app run chromatic
        include:
          - os: windows-2019
            config:
              name: yarn
              command: echo complete

        exclude:
          - os: windows-2019
            config: { name: storybook }

    name: ${{ matrix.config.name }} (${{ matrix.os }})

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          lfs: true
      - name: Configure Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - name: Restore cache
        uses: actions/cache@v2.1.4
        with:
          path: |
            .yarn/cache
            **/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn install --immutable
      - run: yarn dedupe --check
        if: matrix.config.name == 'lint'
      - run: ${{ matrix.config.command }}
        env:
          CHROMATIC_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
          CHROMATIC_BRANCH: ${{ github.event.pull_request.head.ref || github.ref }}
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}

  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]

    name: integration (${{ matrix.os }})

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Configure Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - name: Restore cache
        uses: actions/cache@v2.1.4
        with:
          path: |
            .yarn/cache
            **/node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn install --immutable
      - name: test:integration
        if: matrix.os == 'ubuntu-20.04'
        uses: GabrielBB/xvfb-action@v1.4
        with:
          working-directory: ./
          run: yarn run test:integration
      - name: test:integration
        if: matrix.os != 'ubuntu-20.04'
        run: yarn run test:integration
